# Express server configuration
PORT=3000
NODE_ENV=development

# Trino DB Configuration
TRINO_HOST=localhost
TRINO_PORT=8080
TRINO_USER=trino
TRINO_CATALOG=sheets
TRINO_SCHEMA=default
TRINO_SSL=false 